.FirstTop{
    background-color: black;
}
.Logo{
    width: 100px;
    margin-top: 8%;
    margin-bottom: 0%;
    margin-inline: 55%;
    position: center;
}
.text-out{
    color: white;
    font-size: 100px;
    font-family: BonnetGrotesqueNr-Regular;
    text-align: center;
}
.Logo-UAM{
    position: center;
    width: 135px;
    margin-top: 7%;
    margin-bottom: 0%;
    margin-inline: 20%;
}
