@import "../../App.scss";

.footer{
    background-color: #000;
    color: #a3a4a4;
    display: flex;
    flex-direction: column;
    align-items: cneter;
    justify-content: left;
    padding: 24px;
    font-size: 14px;
    font-family: BonnetGrotesqueNr-Regular;
    text-align: left;
    bottom: 0;
    position: block;
    width: 100%;
    margin-top: auto;

    .container {
        min-height: calc(100vh - 3000px); /* 80px es la altura del footer */
    }

    a {
        color: #777;
        &:hover{
            color:#000;
        }
    }
    .social-links{
        display: flex;
        margin-top: 16px;
        a {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 32px;
            height: 32px;
            margin-right: 8px;
            color: #fff;
            background-color: #333;
            border-radius: 50%;
            &:hover{
                background-color: #000;
                margin-top: auto;
            }
            &:last-child{
                margin-right: 0;
            }
            svg{
                width: 16px;
                height: 16px;
            }
        }
    }
    .h{
        font-family: BonnetGrotesqueNr-Thin;
        font-size: 24px;
        color:#fff;
        text-align: left;
    }
}

.text-center{
    text-align: center;
}
