@import "../../../scss/index.scss";

a{
    color: white;
    font-family: BonnetGrotesqueNr-Regular;

    ::after{
        color: white;
    }
}

.Logout{
    a{
        color: white;
    }
    ::after{
        color: white;
        a{
            color: white;
        }
    }
    color:white;
    margin-top: 40px;
    font-family: BonnetGrotesqueNr-Regular;

    :hover{
        color: #f5f5f5;
        
    }
    &__Logo{
        color: white;
    }
}
.ant-dropdown-menu.ant-dropdown-menu-root.ant-dropdown-menu-vertical.ant-dropdown-menu-light.css-dev-only-do-not-override-1me4733{
    background-color: black;
}
.ant-dropdown-menu{
    color: white;
    font-family: BonnetGrotesqueNr-Regular;
    ::after{
        
        color: white;
    }
}
.ant-dropdown-menu-title-content{
    font-size: 20px;
    color: white;
    a{
        color: white;
    }
    a::after{
        color: white;
    }
}

:where(.css-dev-only-do-not-override-1me4733) a {
    color: white;
}
.ant-dropdown-menu-item ant-dropdown-menu-item-only-child{
    color: white;
}
.ant-dropdown-menu-title-content{
    background: none;
}
.ant-space-item{
    font-family: BonnetGrotesqueNr-Regular;
    font-size: 20px;

}
