@import "./scss/index.scss";
@import "./assets/fonts/BonnetGrotesqueNr.scss";

@font-face {
    font-family: BonnetGrotesqueNr-Medium;
    src: url(./assets/fonts/BonnetGrotesqueNr-Medium.ttf);
}
@font-face {
    font-family: BonnetGrotesqueNr-Regular;
    src: url(./assets/fonts/BonnetGrotesqueNr-Regular.ttf);
}
@font-face {
    font-family: BonnetGrotesqueNr-Thin;
    src: url(./assets/fonts/BonnetGrotesqueNr-Thin.ttf);
}
