@import '../../../scss/variables';

.SaveButton
{
    font-size: 16px;
    font-family: BonnetGrotesqueNr-Regular;
    padding: 10px 10px;
    background-color: #009541;
    color: white;
    border: none;
    width: 300px;
    height: 40px;
    :hover{
        color: black;
    }
}
