@import "../../../scss/index.scss";

:root{
    --left-menu-width: 5px;
}

.menu-sider{

    position: fixed;
    transition: transform .3s cubic-bezier(0, .52, 0, 1);
    z-index: 1000;
    top: 50px;
    height: 100vh;
    border-right: 10px !important;
    width: var(--left-menu-width);

    .menu-item-icon{

        display: flex;
        justify-content: center;
        align-items: center;
        min-width: 0;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .ant-menu-item-selected{
        background-color: $primary_color_light;
        color: $primary_color_text;
    }
    .ant-menu-submenu-title{
        &:hover{
            color: white;
        }
        color: white;
        margin: 0;
    }

    .ant-menu-inline-collapsed{
        .ant-menu-title-content{
            padding: 0;
            display: none;
        }
        >.ant-menu-item .anticon +span{
            display: none;
        }
        .ant-menu-submenu-title{
            display: flex;
        }
        .ant-menu-submenu-title .ant-menu-item-icon{
            display: flex;
        }
    }
    .ant-menu-light .ant-menu-submenu-selected > .ant-menu-submenu-title {
        color: white;
    }
    .ant-menu-title-content{
        &:hover{
            cursor: pointer;
        }
        flex: auto;
        min-width: 0;
        overflow: hidden;
        text-overflow: ellipsis;
        margin-inline-start: 10px;
        justify-content: center;
        font-family: sans-serif;
        font-size: 12px;
        color: white;
    }
    .ant-menu-item{
        display: flex;
        justify-content: center;
        margin: 0 !important;
        /* border-radius: 0 3px 3px 0 !important; */
        font-family: sans-serif;
        font-size: 16px !important;
    }
    .ant-menu-light{
        background-color: black;
    }
}


