@import '../../scss/index.scss';


.general-layout{
    height: 100vh;
    &-header{
       background-color: white;
       height: 50px;
       display: flex;
       align-items: center;
       justify-content: flex-start;
       padding: 0;
       position: fixed;
       top: 0;
       left: 0;
       width: 100%;
       z-index: 1000;
       &-logout{
        display: flex;
        justify-content: flex-end;
        &:hover{
            color: white;
            transform: scale(1.2,1.2);
        }
        &:focus,
        &:active{
            color: white;
        }
       }
    }
    &-content{
        min-height: calc(100vh - 75px);
        padding-top: 90px;
        padding-left: 15px;
        background-color: white;
    }
    &-footer{
        position: block;
        width: 100%;
        padding: 0;
    }
}
