@import "../../../scss/variables";

.inputStudent{
    border-color: black;
    border-width: 2px;
}
.inputStudentC{
    border-color: black;
    border-width: 2px;
    margin-left: 10px;
}
.textRegister{
    font-family: BonnetGrotesqueNr-Regular;
    font-size: 30px;
}

.StudentsRegister{
    display: flex;
    align-items: center;
    justify-content: center;
}
.FirstStudentsRegister{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}
.SButton{
    display: flex;
    align-items: center;
    justify-content: right;
    margin-right: 390px;
}
