@import '../../scss/index.scss';


:root{
    background-color: #F5F5F5;
    align-items: flex-start;
    position: center;
}

.InicioLayout{
    height: 100vh;
    &-header{
       background-color: black;
       height: 200px;
       
       align-items: center;
       justify-content: flex-start;
       padding: 0%;
       position: center;
       top: 0;
       left: 0;
       width: 100%;
       z-index: 1000;
       &-logout{
        display: flex;
        justify-content: flex-end;
        &:hover{
            color: white;
            transform: scale(1.2,1.2);
        }
        &:focus,
        &:active{
            color: white;
        }
       }
    }
    &-content{
        min-height: auto;
        padding-left: 15px;
        background-color: #F5F5F5;
        
    }
    &-footer{
        position: block;
        width: 100%;
        padding: 0;
    }
}


.menu-sider{
    height: 100vh;
}

.ant-layout-header{
    position: block;
    align-items: flex-start;
    height: auto ;
}
.center-text{
margin-bottom: 0%;
}
.ant-layout-content{
    padding: 0%;
}

